
<div class="jumbotron">
  <h1>Admin Dashboard</h1>
  <h3>Total Products: <%= @product_count %></h3>
  <%= link_to "+ New Product", "admin/products/new", class: "btn btn-info" %>
  <h3>Total Categories: <%= @category_count %></h3>
</div>

