<h1>About Us</h1>

<div class="about">
<p>Jungle is an e-commerce platform founded in 1896 by Sir Walter Jungle, many people don't know this but Walter actually invented the first computer and internet. Unfortunately for Walter he never shared his discovery and therefore there was no-one online to visit his store. Fortunately the rest of the world finally caught up and now on Jungle you will find all manner of curious objects available for purchase. Jungle prides itself on selling out of the box unconventional products at an affordable price. If you can't find it on Jungle then you probably don't need it.</p>
<figure>
<img src="https://images.unsplash.com/photo-1532779911096-cd836f067aff?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1600&amp;q=80" width="640" height="600" />
<figcaption>Sir Walter Jungle and his dog Lucky circa 1899</figcaption>
</figure>
<h3>Welcome to the Jungle!</h3>
<div>

